<h1 class="text-center">Bookmarks</h1>

<table class="table table-hover table-striped table-condensed">
  <thead>
    <tr class="row-margin">
      <th>Name</th>
      <th>Occupation</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.mark.name %></td>
        <td><%= bookmark.mark.description %></td>
        <td><%= bookmark.mark.location %></td>
        <td><%= link_to ' ', user_path(bookmark.mark.id), :class => "btn btn-success outline green-button fa fa-envelope-o fa-lg" %></td>
        <td><%= link_to ' ', bookmark, :class => "btn btn-danger outline red-button fa fa-trash-o fa-lg", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
