

<h2>Friends</h2>
<ul>
  <% for bookmark in @user.bookmarks %>
    <li>
      <%=h bookmark.mark.username %>
      (<%= link_to "remove", bookmark, :method => :delete %>)
    </li>
  <% end %>
</ul>

<p><%= link_to "Find Marks", users_path %></p>





<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @bookmark.user_id %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @bookmark.mark_id %>
</p>

<%= link_to 'Edit', edit_bookmark_path(@bookmark) %> |
<%= link_to 'Back', bookmarks_path %>
