<h1>Sessions#show</h1>
<p>Find me in app/views/sessions/show.html.erb</p>

<h2>User Data</h2>

<table>
    <tr>
        <td>Email: </td>
        <td><%= @auth["email"] %></td>
    </tr>
    <tr>
        <td>Full Name: </td>
        <td><%= @auth["name"] %></td>
    </tr>
    <tr>
        <td>Profile Picture: </td>
        <td><img src="<%= @auth["image_url"] %>" width="50" /></td>
    </tr>
    <tr>
        <td>Link: </td>
        <td><%= @auth["url"] %></td>
    </tr>
    <tr>
        <td>Location: </td>
        <td><%= @auth["location"] %></td>
    </tr>
</table>

<h2>Auth Contains</h2>
<code>
    <%= @auth.inspect %>
</code>
