
<div class="row span7 text-center users page" id="users page">
  <div class="col-md-12"><h2></h2></div>

       <div class="index-background users page" id="users page">
          <div class="col-md-12"><h3>Name: <%= user.name %></h3></div>
          <div class="col-md-12">Location: <%= user.location %></div>
          <div class="col-md-12">Description: <%= user.description %></div>
          <div class="col-md-12"><%= link_to "Contact this Professional", user_path(user.id), id: "profile-link" %></div>
          <div class="col-md-12"><%= link_to "Add Bookmark", bookmarks_path(:bookmark_id => user), :method => :post %></div>
           <br />
          <div><img src="<%= user.image_url %>" width="100" /></div>
         </div>
  </div>
<br />
