<h2 class="span7 text-center">User Information</h2>

<table class="table table-hover">
    <tr>
        <td>Profile Picture: </td>
        <td><img src="<%= @user["image_url"] %>" width="50" /></td>
    </tr>
    <tr>
        <td>Full Name: </td>
        <td><%= @user["name"] %></td>
    </tr>
    <tr>
        <td>Email: </td>
        <td><%= @user["email"] %></td>
    </tr>
    <tr>
        <td>Link: </td>
        <td><%= @user["url"] %></td>
    </tr>
    <tr>
        <td>Country: </td>
        <td><%= @user["country"].upcase %></td>
    </tr>
    <tr>
        <td>Region: </td>
        <td><%= @user["location"] %></td>
    </tr>
    <tr>
        <td>Occupation: </td>
        <td><%= @user["description"] %></td>
    </tr>
</table> 
<br />
<div class="edit-address">Edit Current Location:</div>
    <%= form_for @user do |f| %>
        <div class="edit-address">
            <div class="edit-address">
                <%= f.text_field :address, placeholder: "Address" %>
            </div>
            <div class="edit-address">
                <%= f.text_field :city, placeholder: "City" %>
            </div>
            <div class="edit-address">
                <%= f.text_field :zipcode, placeholder: "Zipcode" %>
            </div>
            <div class="edit-address">
                <%= f.text_field :state, placeholder: "State" %>
            </div>
            <div class="edit-address">
            <%= f.submit "Update Address" %>
            </div>
            <% end %>
        </div>


<h2>User Contains</h2>
<code>
    <%= @user.inspect %>
</code>
<%= @user.inspect %>