

	<%= form_for @user do |f| %>

	<div>
	    <%= f.label :address %>
	    <%= f.text_field :address %>
	</div>
	<div>
	    <%= f.label :city %>
	    <%= f.text_field :city %>
	</div>
	<div>
	    <%= f.label :zipcode %>
	    <%= f.text_field :zipcode %>
	</div>
	<div>
	    <%= f.label :state %>
	    <%= f.text_field :state %>
	</div>

	<%= f.submit "Enter your address" %>

	<% end %>

<!-- Some jquery to blackout the screen -->


<div class="expose">Some content</div>
<textarea class="expose">Some content</textarea><br />
<input type="text" class="expose" value="Some content" /><br />
<div id="overlay"></div>


<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>SLINKY USER INFORMATION</legend>

<!-- Text input-->
<div class="control-group text-center">
  <label class="control-label" for="textinput"></label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="ZIP" class="input-xlarge" required="">
    <p class="help-block heynow">For Better Search Results, Enter Your Zip Code</p>
  </div>
</div>

</fieldset>
</form>

