<br />
<legend class="text-center">SLINKY USER LOCATION</legend>
<div class="edit-address text-center">For better user experience, add your address or zipcode</div>
    <%= form_for @user do |f| %>
        <div class="edit-address text-center">
            <div class="edit-address">
                <%= f.text_field :address, placeholder: "Address" %>
            </div>
            <div class="edit-address">
                <%= f.text_field :city, placeholder: "City" %>
            </div>
            <div class="edit-address">
                <%= f.text_field :zipcode, placeholder: "Zipcode" %>
            </div>
            <div class="edit-address">
                <%= f.text_field :state, placeholder: "State" %>
            </div>
            <div class="edit-address">
            <%= f.submit "Add Address" %>
            </div>
            <% end %>
        </div>

