<h2 class="span7 text-center">User Information</h2>


<h2>Bookmarks</h2>
<ul>
  <% @user.bookmarks.each do |bookmark| %>
    <li>
      <%=bookmark.mark.name %>
      <%= link_to "remove", bookmark, :method => :delete %>
    </li>
  <% end %>
</ul>


<table class="table">

    <tr>
        <td>Profile Picture: </td>
        <td><img src="<%= @user["image_url"] %>" width="75" /></td>
    </tr>
    <tr>
        <td>Full Name: </td>
        <td><%= @user["name"] %></td>
    </tr>
    <tr>
        <td>Email: </td>
        <td><%= @user["email"] %></td>
    </tr>
    <tr>
        <td>Link: </td>
        <td><%= @user["url"] %></td>
    </tr>
    <tr>
        <td>Country: </td>
        <td><%= @user["country"].upcase %></td>
    </tr>
    <tr>
        <td>Region: </td>
        <td><%= @user["location"] %></td>
    </tr>
    <tr>
        <td>Occupation: </td>
        <td><%= @user["description"] %></td>
    </tr>

</table>



<h2>User Contains</h2>
<code>
    <%= @user.inspect %>
</code>
<%= @user.inspect %>
