<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6" style="background-color:lavender;">
            <div>Profile Picture: </div>
                <div>
                    <img src="<%= @user["image_url"] %>" width="75" />
                </div>

                <div>
                    <span>Full Name: </span>
                    <span><%= @user["name"] %></span>
                </div>
           
           
                <div>
                    <span>Email: </span>
                    <span><%= @user["email"] %></span>
                </div>
        </div>
           
        <div class="col-sm-6" style="background-color:lavenderblush;">
                <div>
                    <span>Link: </span>
                    <span><%= @user["url"] %></span>
                </div>
                    <br />
                <div>
                    <span>Country: </span>
                    <span><%= @user["country"].upcase %></span>
                </div>
                    <br />
                <div>
                    <span>Region: </span>
                    <span><%= @user["location"] %></span>
                </div>
                    <br />
                <div>
                    <span>Occupation: </span>
                    <span><%= @user["description"] %></span>
                </div>
                    <br />
        </div>
      </div>
    </div>
    
</body>
</html>

<h2>Bookmarks</h2>
<ul>
  <% @user.bookmarks.each do |bookmark| %>
    <li>
      <%=bookmark.mark.name %>
      <%= link_to "remove", bookmark, :method => :delete %>
    </li>
  <% end %>
</ul>

<table class="table">

    <tr>
        <td>Profile Picture: </td>
        <td><img src="<%= @user["image_url"] %>" width="75" /></td>
    </tr>
    <tr>
        <td>Full Name: </td>
        <td><%= @user["name"] %></td>
    </tr>
    <tr>
        <td>Email: </td>
        <td><%= @user["email"] %></td>
    </tr>
    <tr>
        <td>Link: </td>
        <td><%= @user["url"] %></td>
    </tr>
    <tr>
        <td>Country: </td>
        <td><%= @user["country"].upcase %></td>
    </tr>
    <tr>
        <td>Region: </td>
        <td><%= @user["location"] %></td>
    </tr>
    <tr>
        <td>Occupation: </td>
        <td><%= @user["description"] %></td>
    </tr>

</table>



<h2>User Contains</h2>
<code>
    <%= @user.inspect %>
</code>
