<nav class="navbar navbar-fixed-top">
      <ul class="nav-list">
          <%= link_to '/pages/about', :class => "icon-1" do %>
              <li class="fa fa-home fa-5x fa-fw"></li>
              <li class="nav-word" style="font-family: 'Source Sans Pro', sans-serif;">Home</li>
          <% end %>

           <%= link_to "/bookmarks", :class => "icon-3" do %>
            <li class="fa fa-book fa-5x fa-fw"></li>
            <li class="nav-word" style="font-family: 'Source Sans Pro', sans-serif;">Contacts</li>
         <% end %>

         <%= link_to "/users/index", :class => "icon-2" do %>
            <li class="fa fa-search fa-5x fa-fw"></li>
            <li class="nav-word" style="font-family: 'Source Sans Pro', sans-serif;">Search</li>
          <% end %>

         <%= link_to '/users/edit', :class => "icon-1" do %>
              <li class="fa fa-cog fa-5x fa-fw"></li>
              <li class="nav-word" style="font-family: 'Source Sans Pro', sans-serif;">Settings</li>
          <% end %>

            <%= link_to "/auth/logout", :class => "icon-5" do %>
                <li class="fa fa-sign-out fa-5x fa-fw"></li>
                <li class="nav-word" style="font-family: 'Source Sans Pro', sans-serif;">Logout</li>
            <% end %>
      </ul>
  </nav>