<!DOCTYPE html>
<html>
<head>
  <title>Slinky1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body onload="getLocation()">
 <% if current_user %>
    <div class="top_navbar">
       <%= render "layouts/nav_loggedin" %>
    </div>
  <% else %>
  <div class="top_navbar">
       <%= render "layouts/nav_loggedout" %>
    </div>
<% end %>

    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
    <% end %>


<%= yield %>



<br />

<% if current_user %>
  <div class="bottom_navbar">
    
     <%= render "layouts/nav_bottomin" %>
  </div>
<% else %>
   <div class="bottom_navbar">
    <%= render "layouts/nav_bottomout" %>
  </div>
<% end %>

</body>
</html>
