<!DOCTYPE html>
<html>
<head>
  <title>Slinky1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav class="navbar navbar-inverse navbar-static-top">
      <ul class="nav-list nav navbar-nav">
          <span class="icon-1">
            <li class="fa fa-home fa-5x fa-fw"></li>
            <li class="nav-word">Home</li> 
          </span>
          <span class="icon-2">
            <li class="fa fa-search fa-5x fa-fw"></li> 
            <li class="nav-word">Search</li>
          </span>
          <span class="icon-3">
            <li class="fa fa-book fa-5x fa-fw"></li> 
            <li class="nav-word">Contacts</li>
          </span>
          <span class="icon-4">
            <li class="fa fa-sign-in fa-5x fa-fw"></li> 
            <li class="nav-word">Sign In</li>
          </span>
          <span class="icon-5">
            <li class="fa fa-sign-out fa-5x fa-fw"></li> 
            <li class="nav-word">Logout</li>
          </span>
      </ul>
  </nav>


  <nav class="navbar navbar-inverse navbar-static-top">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <% if session['auth'] %>
        <li><a href="/sessions/show">Profile</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        <% else %>
        <li><a href="/auth/linkedin">Login via LinkedIn</a></li>
        <% end %>
    </ul>
  </nav>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
<%= params %>
<%= yield %>

<%= @user.inspect %>
"*****"
<%= session[:user_id] %>

</body>
</html>
