<!DOCTYPE html>
<html>
<head>
  <title>Slinky1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>



<body onload="getLocation()">

<div class="top_navbar">
  <%= render "layouts/nav" %>
</div>

  
        
        <% if session['auth'] %>
        <a href="/sessions/show"></a>
        <a href="/auth/logout"></a>
        <% else %>
        <a href="/auth/linkedin">Login via LinkedIn</a>
        <% end %>
   



  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
<%= params %>


<%= yield %>


<h1>Hello</h1> 
<br />
<h1>Hello</h1> 
<br />
<h1>Hello</h1> 
<br />
<h1>Hello</h1> 
<br />
<h1>Hello</h1> 
<br />
<h1>Hello</h1> 
<br />
<h1>Hello</h1> 
<br />
<h1>Hello</h1> 
<br />
<h1>Hello</h1> 
<br />
<h1>Hello</h1> 
<br />
<h1>Hello</h1> 
<br />
<h1>Hello</h1> 
<br />
<h1>Hello</h1> 
<br />
<h1>Hello</h1> 
<br />
<h1>Hello</h1> 
<br />


<div class="bottom_navbar">
  <%= render "layouts/nav_bottom" %>
</div>



<%= @user.inspect %>
"*****"
<%= session[:user_id] %>

</body>
</html>
