<!DOCTYPE html>
<html>
<head>
  <title>Slinky1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>



<body onload="getLocation()">


  <nav class="navbar navbar-default navbar-fixed-top">
      <ul class="nav-list">
      <!--  <li class="fa fa-5x fa-fw"> --><%#= link_to( image_tag("slinky-logo.png", size: "200%", :class => "icon-1 fa-fw"), sessions_show_path) %><!-- </li> -->
              <!-- <li class="fa fa-home fa-5x fa-fw"></li> -->
              <!-- <li class="nav-word">Profile</li> -->
          <%= link_to '/sessions/show', :class => "icon-1" do %>
              <li class="fa fa-bullseye fa-5x fa-fw"></li>
              <li class="nav-word">SLINKY</li>
          <% end %>
              
          

          <%= link_to '/sessions/show', :class => "icon-1" do %>
              <li class="fa fa-home fa-5x fa-fw"></li>
              <li class="nav-word">Profile</li>
          <% end %>

          <span class="icon-2">
            <li class="fa fa-search fa-5x fa-fw"></li>
            <li class="nav-word">Search</li>
          </span>

          <span class="icon-3">
            <li class="fa fa-book fa-5x fa-fw"></li>
            <li class="nav-word">Contacts</li>
          </span>
          <% if current_user %>

            <%= link_to "/auth/logout", :class => "icon-5" do %>
                <li class="fa fa-sign-out fa-5x fa-fw"></li>
                <li class="nav-word">Logout</li>
            <% end %>
             
          <% else %>

          <%= link_to "/auth/linkedin", :class => "icon-4" do %>
                <li class="fa fa-sign-in fa-5x fa-fw"></li>
                <li class="nav-word">Sign In</li>
            <% end %>
          <% end %>
      </ul>
  </nav>


  
        
        <% if session['auth'] %>
        <a href="/sessions/show"></a>
        <a href="/auth/logout"></a>
        <% else %>
        <a href="/auth/linkedin">Login via LinkedIn</a>
        <% end %>
   



  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
<%= params %>


<%= yield %>
<p>Hello</p>
<br />
<p>Hellow</p>
<br />
<p>Hello</p>
<br />
<p>Hello</p>
<br />
<p>Hellow</p>
<br />
<p>Hello</p>
<br />
<p>Hello</p>
<br />
<p>Hellow</p>
<br />
<p>Hello</p>
<br />
<p>Hello</p>
<br />
<p>Hellow</p>
<br />
<p>Hello</p>
<br />
<p>Hello</p>
<br />
<p>Hellow</p>
<br />
<p>Hello</p>
<br />
<p>Hello</p>
<br />
<p>Hellow</p>
<br />
<p>Hello</p>
<br />
<p>Hello</p>
<br />
<p>Hellow</p>
<br />
<p>Hello</p>
<br />
<p>Hello</p>
<br />
<p>Hellow</p>
<br />
<p>Hello</p>
<br />
<p>Hello</p>
<br />
<p>Hellow</p>
<br />
<p>Hello</p>
<br />

<%= @user.inspect %>
"*****"
<%= session[:user_id] %>

</body>
</html>
